.expression {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.expression__text {
    font-weight: 300;
    font-size: 1.8rem;
}

.expression__meaning {
    font-weight: 300;
    font-size: 1.3rem;
    font-style: italic;
}

.expression__actions {
     flex-shrink: 0;
}